* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  list-style: none; }

.container {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  outline: none; }

.newTask {
  text-align: center;
  width: 90%;
  margin: 50px; }
  .newTask form .taskText {
    width: 98%;
    height: 50px;
    text-align: center;
    color: red;
    border: 8px red solid;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none; }

.tasksDoing {
  width: 90%;
  margin: 50px;
  margin-top: 0; }
  .tasksDoing .whatButton {
    width: 101%;
    font-size: 1.5em;
    background-color: yellow;
    height: 68px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #CCCC00;
    border: 0;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-left: 0; }

.delete {
  visibility: hidden;
  margin: 0;
  font-size: 0; }

.closed {
  text-decoration: line-through;
  color: lightgray;
  font-style: italic; }

.deleteDone {
  width: 90%;
  margin: 50px;
  margin-top: 0;
  font-size: .7em; }
  .deleteDone .deleteButton {
    width: 101%;
    font-size: 1.5em;
    background-color: #00ff00;
    height: 68px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #00CC00;
    border: 0;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-left: 0;
    height: 30px; }
